# Enable Rewrite Engine
RewriteEngine On
Options -MultiViews
RewriteBase /backup/

# -----------------------------------
# 1. Redirect index.php to root
# -----------------------------------
RewriteCond %{THE_REQUEST} \s.*/index\.php[\s?] [NC]
RewriteRule ^index\.php$ ./ [L,R=302]

# -----------------------------------
# 2. Remove .php extension from external requests
# -----------------------------------
RewriteCond %{THE_REQUEST} \s/([^.]+)\.php[\s?] [NC]
RewriteRule ^([^.]+)\.php$ $1 [L,R=302]

# -----------------------------------
# 3. Internal rewrite to .php
# -----------------------------------
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]