# Enable Rewrite Engine
RewriteEngine On
RewriteBase /backup/

# -----------------------------------
# 1. Redirect index.php to root
# -----------------------------------
RewriteCond %{THE_REQUEST} \s/backup/index\.php[\s?] [NC]
RewriteRule ^index\.php$ /backup/ [L,R=301]

# -----------------------------------
# 2. Remove .php extension
# -----------------------------------
RewriteCond %{THE_REQUEST} \s/backup/([^.]+)\.php[\s?] [NC]
RewriteRule ^([^.]+)\.php$ $1 [L,R=301]

# -----------------------------------
# 3. Internal rewrite
# -----------------------------------
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]